* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading{
    font-family: 'Times New Roman', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 1em auto;
}

.display:not(#heading) {
    font-family: 'Times New Roman', sans-serif;
    background: #fafafa;
    border: 1px solid #999;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: .5em auto;
    padding: 0.5em;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    font-size: 1.2em;
}